.scroll{
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    height: 300px !important;
    width: 100%;
}

.inp-home{
    width: 100%;
}
.search{
    display: inline-block;
    margin-bottom: 0;
}
.principal{
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    max-width: 1100px;

}
.btn-search{
    width: 30px;
    height: 30px;
}

iframe{
    width: 240px;
}

.card{
    width: 250px;
}


#videoListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.orden-mis-videos{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.orden-mis-videos select{
    min-width: 50%;
}
.orden-mis-videos  label{
    margin-right: 1em;
}
.search-row{
    min-width: 1004px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 999px) {
    #videoListContainer{
        justify-content: left;
        margin-left: 1em;
        margin-left: 20em;
    }
    #videoListContainer > h3 > a {
        margin-left: -17em;
    }
    .lbl-home{
        margin-bottom: 0;
    }
  }
.card-body{
    padding: 5px !important;
}
 .search-row > .card > .card-header{
    overflow: hidden;
    max-height: 49px;
    text-overflow: ellipsis;
    white-space: pre;
}
@media (max-width: 728px) {
    header{
        height: 100px;
    }
    
}

.listaVideos{
    min-height: 100px;
    background-color: gainsboro;
    margin-bottom: 0.5em;

}

.accordion{
    min-width: 1000px;
}

.scroll-card{
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em 0.05em rgb(0, 0, 0, 0.2);
}
.bi-trash{
    color: red;
}